
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron text-center">
    <h1  class="lobster">Dog Matchmaker <img class="icon" src="~/dogimages/dogicon.png" /></h1>
    <p> Find Dogs nearby or take our quiz to find your perfect companion! </p>
</div>

